*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: snow;
}
#login_head{
    width: 80%;
    height: 90px;
    background-color: #222222;
    margin: 0px auto;
}
#login_head_contian{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: relative;
}
#login_head_title{
    float: left;
    padding-left: 60px;
    font-family: Arial,helvetica,sans-serif;
    font-size: 30px;
    color: snow;
}
#login_head_list{
    margin-right: 200px;
    float: right;
    list-style-type: none;
    padding-bottom: 6px;
    padding-top: 6px;
}
li{
    padding-left: 10px;
    display: inline;
}
a:link,a:visited{
    font-weight: bold;
    color: snow;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}
#login_body{

    width: 80%;
    height: 600px;
    background-color: rgba(3, 211, 255, 0.98);
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;

}
#login_body_logn{
    height: 350px;
    width: 300px;
    float: right;
    margin-right: 150px;
    margin-top: 100px;
    background-color: white;

}
input{
    font-family: inherit;
    font-size: 80%;
    font-weight: inherit;
}
#login_body_logn_head{
    float:left;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 30px;
    font-family: Arial,helvetica,sans-serif;
    font-size: 20px;
    color: black;
}
#login_body_table {
    width: 80%;
    height: 100%;
    margin: 10px auto;
}
.textbox_input{
    position: relative;
    line-height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-style: inherit;
}
.forget{

    width: 80%;
    height: 10px;
    color: gray;
    font-size: 10px;
    font-weight: bold;
    margin: 10px auto;
}
#ald{
    margin-left: 70px;
    color: gray;
}
#login_bottom{
    width: 80%;
    height: 20px;
    background-color: black;
    font-weight: bold;
    margin: auto;
}
.login_button{
    width: 80%;


}
#btn{
    width: 80%;
    height: 30px;
    background-color: #20c5ff;
    margin-top: 20px;
    color: snow;
    margin-left: 37px;
    font-weight: bold;
    font-size: 15px;

}
